Source: stream-schedule-liquidsoap
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1
Homepage: https://launchpad.net/~mc-1/+archive/stream-schedule

Package: stream-schedule-liquidsoap
Architecture: any
Depends: ${misc:Depends}, 
 quelcom, 
 festival
Description: liquidsoap service for stream scheduler
 defines a upstart service to run liquidsoap with a config from /etc/stream-schedule/start.conf

