
[Unit]
Description=audio stream schedule liquidsoap
After=network.target

[Service]
Restart=always
RestartSec=1s
StartLimitInterval=0

User=audiostream
Group=audiostream

PermissionsStartOnly=true

ExecStartPre=/bin/prepare-stream-schedule-liquidsoap.sh >>/var/log/stream-schedule/liquidsoap.log 2>&1
ExecStart=/bin/sh -c 'liquidsoap /etc/stream-schedule/liquidsoap/start.conf >>/var/log/stream-schedule/liquidsoap.log 2>&1'
ExecReload=/bin/kill -HUP $(cat /var/run/stream-schedule/stream-schedule-liquidsoap.pid) >>/var/log/stream-schedule/liquidsoap.log 2>&1

[Install]
WantedBy=multi-user.target


